@use "../abstract" as *;

/* ******************* *\
? #header 
\* ******************* */
.header {
  max-inline-size: rem(1200);

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgba(0, 0, 0, 0%);
  @include breakpoint(large) {
    margin-block-start: rem(50);
  }
}

.header-container {
  margin-block-start: rem(50);
  padding-inline: 5%;

  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;
  @include breakpoint(large) {
    flex-wrap: nowrap;
    margin: 0;

    padding: 0;
    padding-inline-start: 5%;
  }
}

.nav {
  position: absolute;
  padding-inline-end: 5%;

  z-index: 1;

  display: none;
  flex-direction: column;

  margin: 0;
  overflow: hidden;

  background-color: var(--clr-neutral-900);
  opacity: 0%;

  transition: all 250ms cubic-bezier(0, 0.67, 0.4, 1);
  inline-size: 100%;
  inset-block-start: 0;

  block-size: 100vh;

  @include breakpoint(large) {
    position: static;

    display: flex;

    margin: 0;
    overflow: visible;

    background-color: rgba(0, 0, 0, 0%);

    opacity: 100%;
    block-size: 100%;
    inline-size: 100%;
  }
}

/* ****************
* added to HTML with Js 
****************** */
.nav--active {
  opacity: 100%;
}

/* ****************
* added to HTML with Js end
****************** */

.menu {
  display: flex;
  flex-direction: column;
  gap: rem(26);
  align-items: flex-start;
  justify-content: center;
  block-size: 100%;

  padding: 0;
  padding-inline-start: 5%;
  @include breakpoint(large) {
    flex-direction: row;
    justify-content: flex-end;
    padding-inline-start: rem(36);
    margin: 0;
  }
  @include breakpoint(x-large) {
    gap: rem(60);
  }
}

.menu__item {
  position: relative;

  display: flex;

  cursor: pointer;

  &::after {
    position: absolute;

    opacity: 0%;

    transition: opacity 400ms ease-in-out;

    content: "";
    inset-block-end: rem(-8);
    inset-inline-start: 0;
    inline-size: 50%;
    border-block-end: rem(1) solid var(--clr-neutral-100);

    @include breakpoint(large) {
      inset-inline-start: 25%;
    }
  }

  &:hover,
  &:focus-visible {
    &::after {
      opacity: 100%;
    }
  }
}

/* ******************* *\
? #header end
\* ******************* */
